:root {
    --bs-primary-rgb: 157, 203, 186;
    --bs-link-color: #9DCBBA;
    --bs-link-hover-color: #6D5959;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

body {
    position: relative;
}

#about {
    position: relative; 
    background-image: url(../js/1F28DEB5-D84A-4D6D-94E7-C04867EA67EB.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    
}

.progress-bar.progress-bar-striped.progress-bar-animated {
    background-color: #9DCBBA;
}

.btn{
    background-color: #9DCBBA;
}

#experience .card-body-centered {
.card-body-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

#experience.card-img-centered {
    display: block;
    margin: 0 auto;
  }

